astroid==4.0.3
cfgv==3.5.0
dill==0.4.1
distlib==0.4.0
filelock==3.20.3
greenlet==3.3.1
identify==2.6.16
iniconfig==2.3.0
isort==7.0.0
mariadb==1.1.14
mccabe==0.7.0
nodeenv==1.10.0
packaging==26.0
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
Pygments==2.19.2
pylint==4.0.4
PyMySQL==1.1.2
pytest==9.0.2
PyYAML==6.0.3
SQLAlchemy==2.0.46
tomlkit==0.14.0
typing_extensions==4.15.0
virtualenv==20.36.1
